* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 100%;
    background: #f8f8f8;
}

.header {
    max-width: max-content;
    margin: 10px auto 0px;
    
    color: white;
    background: #5f9ea0;
    text-align: center;
    border: 1px solid #b0c4de;
    padding: 10px 100px 10px 100px;

}
.content {

    max-width: max-content;
    margin: 0px auto;
    padding: 10px 20px 10px 20px;
    border: 1px solid #b0c4de;
    background: white;

}
.input-group {
    margin: 10px 10px 10px 10px;
}

.input-group label {
    display: block;
    text-align: center;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5f9ea0;
    border: none;
    border-radius: 5px;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: #3c763d;
    background: #dff9b8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}


